.currentData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    background-color: rgb(234, 244, 246);
    border:solid gray;
    width: 60%;
    
    height: 10%;
}

.dataItems{
    display: flex;
    padding: 1em;
    margin: 1em;
    border:solid  gray;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: gray;
    font-weight: bold;
}